* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--Verydarkblue: #0d192b;
--darkblue : #14253d;
--blue : #2f415b;
--White: #ffffff;
--Softblue: #8bacda;
--Cyan: #00fff7;
}
body {
    display: flex;
    background-color: var(--Verydarkblue);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    padding: 50px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: var(--darkblue);
    padding: 20px;
    justify-content: center;
    border-radius: 10px;
    width: 350px;
}
.content img {
    width: 310px;
    border-radius: 8px;
}

.content h2{
    color: var(--White);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.content p{
    color: var(--Softblue);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.color {
    display: flex;
    justify-content: space-between;
}
.color h3 {
    color: var(--Cyan);
    font-weight: 400;
}
.color p {
    color: var(--Softblue);
    margin-bottom: 20px;
}
.image{
    display: flex;
    padding: 20px;
    align-items: center;
    border-top: 1px solid var(--Softblue);
}
.image img {
    width: 40px;
    border: 1px solid var(--White);
    border-radius: 50%;
}
.image h4 {
    margin-left: 10px;
    color: var(--Softblue);
    font-weight: 400;
    margin-right: 5px;
}
.image p {
    color: var(--White);
    font-weight: 300;
    font-size: 18px;
}
@media only screen and (max-width: 320px) {
    body {
        display: flex;
        background-color: var(--Verydarkblue);
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        font-family: "Outfit", sans-serif;
        padding: 50px;
    }
    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--darkblue);
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 300px;
    }
    .content img {
        width: 280px;
        border-radius: 8px;
    }
    
    .content h2{
        color: var(--White);
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .content p{
        color: var(--Softblue);
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .color {
        display: flex;
        justify-content: space-between;
    }
    .color h3 {
        color: var(--Cyan);
        font-weight: 400;
    }
    .color p {
        color: var(--Softblue);
        margin-bottom: 10px;
        font-size: 15px;
    }
    .image{
        display: flex;
        padding: 20px;
        align-items: center;
        border-top: 1px solid var(--Softblue);
    }
    .image img {
        width: 40px;
        border: 1px solid var(--White);
        border-radius: 50%;
    }
    .image h4 {
        margin-left: 10px;
        color: var(--Softblue);
        font-weight: 400;
        margin-right: 5px;
        font-size: 15px;
    }
    .image p {
        color: var(--White);
        font-weight: 300;
        font-size: 13px;
    }
}